<form [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
  <div class="p-grid p-fluid" >
    <div class="p-col-12 p-md-4 compForm" hidden>
      <span class=" field p-float-label">
            <input type="text"  id="id" formControlName="id" pInputText class="p-inputtext-sm" >
            <label for="id">Id</label>
        </span>
    </div>
    <div class="p-col-12 p-md-4 compForm">
      <span class=" field p-float-label">
            <input type="text" id="firstName" formControlName="firstName" pInputText class="p-inputtext-sm">
            <label for="firstName">FirstName:</label>
        </span>
    </div>
    <div class="p-col-12 p-md-4 compForm">
      <span class="field p-float-label" >
            <input type="text" id="lastName" formControlName="lastName" pInputText>
            <label for="lastName">LastName:</label>
        </span>
    </div>
    <div class="p-col-12 p-md-4 compForm">
      <span class=" field p-float-label">
            <input type="email" id="email" formControlName="email" pInputText>
            <label for="email">Email:</label>
        </span>
    </div>
    <div class="p-col-12 p-md-4 compForm">
      <span class=" field p-float-label">
            <input type="email" id="phone" formControlName="phone" pInputText>
            <label for="phone">Phone:</label>
        </span>
    </div>
    <div class="p-col-12 p-md-4 compForm">
      <div>
        <button pButton label="Save" type="submit" [disabled]="customerForm.invalid"></button>
      </div>
    </div>
  </div>

</form>

